*{
    max-width: 970px;
    min-height: auto;
}

.background-main{
    position: relative;
    display: flex;
    background-color: #000744;
    width: 970px;
    height: 650px;
}
.p1{
    color: #d2ecfe;
    font-size: 36px;
    position: absolute;
    top:-10px;
    margin-left: 10px;
    font-weight: bold;
}
.header{
    position: absolute;
    border-radius: 15px;
    margin: 20px;
    background-color: #cb0000;
    width: 930px;
    height: 100px;
}
.nav{
    margin: 5px;
    border-radius: 20px;
    background-color: #009EAE;
    position: relative;
    width: 180px;
    height: 230px;
    top:140px;
    left:18px;
}
.informational {
    align-items:center;
    border-radius: 20px;
    top:550px;
    margin: 10px;
    position: absolute;
    display: inline-block;
    background-color: #4E6B81;
    width: 945px;
    height: 50px;
    
}
.content{
    border-radius: 20px;
    align-items: center;
    position: absolute;
    background-color: #14101d;
    display:block;
    width: 710px;
    height: 390px;
    top: 140px;
    left:230px;
    margin: 10px;
}
h6{
    position: absolute;
    top: -10px;

   font-size: small;
    margin-left: 10px;
    color: #CCEBEE;
  
}
a{
    align-items:flex;
    display: inline-block;
    color: #F8F8F9;
    text-decoration: underline;
}
ul, li{
    color: #00e4f0;
    font-size: small;
    text-decoration: underline;
}